<h1>Edit Author Form</h1>
<form #editAuthorForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Author's name" [(ngModel)] = "name"
                       name = "name"
                       required
                       #nam   = "ngModel">
      <mat-error *ngIf="!(nam.valid || nam.pristine)">
        Author's name is required
      </mat-error>                        
    </mat-form-field>
    

  
    <div >
        <button mat-raised-button color="primary" [disabled]="!editAuthorForm.form.valid">Change Name</button>
    </div>
  </div>
</form>