<div ng-controller="myCtrl">
  <button mat-raised-button color="primary" (click)="myFunc()">Save to firestore</button>
  <p>{{ans}}</p>
</div>
<mat-accordion>
  <mat-expansion-panel *ngFor = "let post of posts$">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{post.title}}
      </mat-panel-title>
    </mat-expansion-panel-header> 
    <span *ngFor = "let user of users$">
      <span *ngIf="post.userId == user.id">
      by  {{user.name}} <br>
      {{post.body}} 
      </span> 
  </mat-expansion-panel>
</mat-accordion>
